<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/welcome']" [routerLinkActive]="['active']">
          Welcome
        </a>
  
        <a class="navbar-item" [routerLink]="['/movieplayer']" [routerLinkActive]="['active']">
          movieplayer
        </a>

        <a class="navbar-item" [routerLink]="['/todo']" [routerLinkActive]="['active']">
          todo
        </a>

        <a class="navbar-item" [routerLink]="['/redbox']" [routerLinkActive]="['active']">
          redbox
        </a>
      </div>
    </div>
  </nav>